{% extends "TwigBundle:Form:div_layout.html.twig" %}

{% block field_rows %}
    <div class="symfony-form-errors">
        {{ form_errors(form) }}
    </div>
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock field_rows %}

{% block field_row %}
    <div class="symfony-form-row">
        {{ form_label(form) }}
        <div class="symfony-form-field">
            {{ form_widget(form) }}
            <div class="symfony-form-errors">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block field_label %}
    <label for="{{ id }}">
        {{ label|trans }}
        {% if required %}
            <span class="symfony-form-required" title="This field is required">*</span>
        {% endif %}
    </label>
{% endblock %}
